body {
background: url("https://i.postimg.cc/brTSPSQk/16e02696e20f76c87a0452f005c634ab.jpg") no-repeat center
center fixed;
background-size: cover;
font-family: "Gabarito", sans-serif;
margin: 60px;
}

.logo {
text-align: end;
}

.logo img {
width: 20%;
}

/* Caixa principal do jogo */
.conteudo-jogo {
background: rgba(3, 39, 84, 0.7);
box-shadow: 0 0 5px #dc03f4;
margin: 30px;
padding: 20px;
height: 50vh;
display: flex;
justify-content: center;
margin-top: 2rem;
}

.conteudo-jogo:hover {
background: rgb(22, 56, 101);
box-shadow: 0 0 5px #19caca;
}

/* Títulos e textos */
h2, p {
background-color: #3bd858; /* Exemplo: marrom escuro */
color: white;             /* Cor do texto */
border: double;          
padding: 10px 600px;
border-radius: 10px;       
font-size: 25px;
}

/* Estrutura do questionário */
.questionario {
display: flex;
justify-content: space-evenly;
flex-direction: column;
width: 70%;
max-width: 70%;
}

/* Área de conteúdo */
.conteudo {
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 100%;
gap: 0px;
}

/* Estilo da pergunta */
.pergunta {
font-weight: 800;
color: white;
}

/* Progresso da pergunta */
.progresso {
text-align: end;
font-size: small;
font-weight: 500;
color: white;
}

/* Área das respostas */
.respostas {
display: flex;
flex-direction: column;
gap: 5px;
}

/* Botões de resposta */
.botao-resposta {
width: 70%;
height: 2.5rem;
text-align: center;
padding: 5px;
border: none;
cursor: pointer;
background: #ca3333;
color: rgb(255, 255, 255);

}

.botao-resposta:hover {
background: #a369e6;
font-weight: 600;
}

/* Tela de fim do jogo */
.fim {
display: none;flex-direction: column;
align-items: center;
gap: 10px;
}

.fim span {
margin-bottom: 2rem;
text-align: center;
font-weight: 600;
color: white;
}
